.bts_dropdown_icon {
    width: 25px;
}

.bts_dropdown {
    background-color: #ffffff;
    position: absolute;
    width: 280px;
    top: 30px;
    left: 0;
    box-shadow: 0 5px 7px #95959598;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    border-bottom: 2px solid var(--secondaryColor);
}

.bts_dropdown > ul {
    display: flex;
    flex-direction: column;
}

.bts_dropdown > ul > li > .bts_dropdown_link {
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    transition: .2s;
    color: black;
}

.bts_dropdown > ul > li:hover {
    background-color: #f1f1f1;
}