/* PRIMARY BUTTON */

.bts_primaryBtn {
    background-color: var(--primaryColor);
    padding: 15px 20px;
    color: white;
    
}

.bts_primaryBtn:hover {
    filter: drop-shadow(0 0 0.25em var(--primaryColor));
}

/* SECONDARY BTN */

.bts_secondary_btn {
    background-color: transparent;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border-radius: 30px; */
}

.right {
    flex-direction: row-reverse;
}

.left {
    flex-direction: row;
}

.primary {
    border: 2px solid var(--primaryColor);
}

.secondary {
    border: 2px solid var(--secondaryColor);
    color: var(--secondaryColor);
}

.white {
    border: 2px solid white;
    color: white;
}

/* .secondary:hover {
    filter: drop-shadow(0 0 0.6em var(--primaryColor)) !important;
} */

.bts_secondary_btn:hover {
    box-shadow: none;
    color: white;
    background-color: var(--secondaryColor);
}

.long {
    padding: 15px 40px;
}

.short {
    padding: 15px 20px;
}

.bts_primary_color {
    border-color: var(--primaryColor);
    color: var(--secondaryColor);
}
    /* MOBILE HEADER CTA BUTTON */

.bts_mobile_CTABtn {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryColor);
}

/* TOP GRADIENT BUTTON START */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.animate-fade-in {
    animation: fade-in 0.5s ease-in-out; /* Adjust duration and easing as needed */
  }
/* TOP GRADIENT BUTTON END */

@media screen and (max-width: 480px) {
    .bts_primaryBtn, .bts_secondary_btn {
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    .bts_mobile_CTABtn {
        width: 35px;
        height: 35px;
        /* border: 4px solid black; */
    }
}