.bts-info-card {
    background-color: #16161798;
    height: 120px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}

.bts-info-card-row {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bts-info-card-logo {
    width: 100px;
}

.bts-info-card-content {
    font-size: 21px;
}

@media screen and (max-width: 1550px) {
    .bts-info-card {
        height: 80px;
    }

    .bts-info-card-logo {
        width: 70px;
    }

    .bts-info-card-content {
        font-size: 20px
    };
}

@media screen and (max-width: 500px) {
    .bts-info-card {
        height: max-content;
        padding: 20px 0;
        position: relative;
    }
    .bts-info-card-row {
        flex-direction: column;
        gap: 10px;
    }
    .bts-info-card-content {
        text-align: center;
    }

    .bts-info-card-logo {
        width: 100px;
    }
}