.bts-contact-us-row {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 450px) {
    .bts-contact-section {
        flex-direction: column;
    }

    .bts-contact-img {
        width: 80%;
        margin: 0 auto;
    }
}