.bts_contact-hero {
    height: 45vh;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 450px) {
    .bts_contact-hero {
        height: max-content;
        padding-top: 6rem;
    }
}