.bts_hero {
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bts_hero_row {
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 0 1.5rem;
}

.bts_hero_text {
    text-align: center;
    /* font-size: 4.5rem; */
    font-size: 90px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.014em;
}

.bts_hero_desc {
    text-align: center;
    font-size: 22px;
    line-height: 1.1666666667;
    font-weight: 600;
    letter-spacing: .009em;
}

@media screen and (max-width: 1550px) {
    .bts_hero_text {
        font-size: 85px;
    }

    .bts_hero_row {
        padding: 0 8rem;

        gap: 50px;
    }

    .bts_hero_desc { 
        font-size: 18px;
        padding: 0 0px;
    }
}

@media screen and (max-width: 450px) {
    .bts_hero {
        padding: 0;
        height: 1050px !important;
    }

    .bts_hero_row {
        padding: 0 10px;
    }

    .bts_hero_text {
        font-size: 44px;
    }

    .mobile-padding {
        padding: 0 10px;
    }
}