/* Infinite Scroll Component Start */

.bts-portfolio-img-cont {
    position: relative;
}

.bts-portfolio-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: #2424248c;
    display: none;
}

.bts-portfolio-img-cont:hover > .bts-portfolio-img-overlay {
    display: grid;
}

.bts-portfolio-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

/* Infinite Scroll Component End */

/* Hide Scrollbar */

  .scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
/* stop scroll */

/* Tailwind CSS */
/* Add a custom class for text outline */
.text-outline .text-transparent {
  /* Transparent text color */
  color: transparent;
  /* Adjust text stroke width as needed */
  -webkit-text-stroke-width: 1px;
  text-stroke-width: 1px;
}

/* Custom CSS for text stroke color */
.text-outline .text-transparent {
  -webkit-text-stroke-color: var(--primaryColor); /* Red outline */
  text-stroke-color: var(--primaryColor); /* Red outline */
}


@media screen and (max-width: 450px) {
  .bts-image-slider {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start !important;
    padding-bottom: 30px;
    /* justify-content: flex-end; */
    
  }

  .bts-image-slider > div > h2 { 
    font-size: 26px;
    padding: 0;
    padding-top: 25px;
  }
}